<div class='outer'>
    <div class='inner'>
    <script src="/assets/d3.v3.js"> </script>
    <label>GET AN ARTIST'S TOP TRACKS</label>
    <p>
    <input id = "artist_name" type="text" name="artist_name" value="Enter an Artist"></input>
    </p>
    <p>
    <input id="search-button" onclick="getArtistID();" type="submit" value="Search Spotify"></input>
    </p>
    <div id='results' class='results'></div>
    <p>
    <svg class="chart" id="chart"></svg>
    </p>
    </div>
</div>




