<div class='outer'>
  <div class='middle'>
    <div class='inner'>
    <script src="/assets/d3.v3.js"> </script>
    <label>Enter An Artist's Name</label>
    <input id = "artist_name" type="text" name="artist_name"></input>
    <input id="search-button" onclick="getArtistID();" type="submit" value="Search Spotify"></input>
    <div id='results'></div>
    </div>
    <svg class="chart" id="chart"></svg>
  </div>
</div>




