// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
  fill: yellow;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

div {
  fill:blue;
  padding: 10px;
}

g {
  fill: red;
}

.outer {
  background-image:url("/assets/spotify.png");
  padding: 10px;
    width:400px;
  height:400px;
}

.middle { 
  fill:green;
  padding: 10px;
    width:300px;
  height:300px;
  float:"left";
}

.inner { 
  fill:yellow;
  padding: 10px;
  width:200px;
  height:100px;
}